In [35]:
#import pandas for df management
import pandas as pd

# import numpy
import numpy as np

#import matplotlib for plotting funtionality
import matplotlib.pyplot as plt

# import citipy to get closest city from lat long
from citipy import citipy

# import the datetime module from the datetime library
from datetime import datetime

# Import the API key.
from config import weather_api_key

# Import the API key.
from config import google_api_key

# import gmaps for google mapping
import gmaps
import gmaps.datasets
# Import the requests library.
import requests

# import os for path join
import os

First thing is to import the hotel data.

In [32]:
vacation_file_path = os.path.join("Data","WeatherPy_Vacation.csv")
vacation_data_df = pd.read_csv(vacation_file_path)
vacation_data_df.head()

,City_ID,City,Country,Description,Max Temp,Lat,Lng,Hotel Name
0,0,Fortuna,US,clear sky,70.00,40.60,-124.16,Super 8 by Wyndham Fortuna
1,2,Komsomolskiy,UZ,overcast clouds,77.00,40.43,71.72,Ikathouse
2,6,Matagami,CA,clear sky,86.00,49.75,-77.63,Hôtel Matagami
3,11,Butaritari,KI,clear sky,83.89,3.07,172.79,Isles Sunset Lodge
4,14,Saint-Philippe,RE,few clouds,71.60,-21.36,55.77,"Chambres d'hôte ""La Trinité"""

The cities we will be travelling to are: Tsihombe, Matagami, Chapais, La Tuque

In [48]:
# get the lat and long from each location in the form of a tuple
Tsihombe_df = vacation_data_df.loc[(vacation_data_df["City"] == "Tsihombe")]
Tsihombe = tuple(Tsihombe_df.to_numpy()[0][5:7])

Matagami_df = vacation_data_df.loc[(vacation_data_df["City"] == "Matagami")]
Matagami = tuple(Matagami_df.to_numpy()[0][5:7])

Chapais_df = vacation_data_df.loc[(vacation_data_df["City"] == "Chapais")]
Chapais = tuple(Chapais_df.to_numpy()[0][5:7])

La_Tuque_df = vacation_data_df.loc[(vacation_data_df["City"] == "La Tuque")]
La_Tuque = tuple(La_Tuque_df.to_numpy()[0][5:7])

In [50]:
# set api key for gmaps
gmaps.configure(api_key=google_api_key)

# create the figure
fig = gmaps.figure()

# set itinerary
Vacation_Itinerary = gmaps.directions_layer(Tsihombe, La_Tuque, waypoints=[Matagami,Chapais])

# add itinerary top map
fig.add_layer(Vacation_Itinerary)

# show map
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
Trip_df = pd.concat([Tsihombe_df,Matagami_df,Chapais_df,La_Tuque_df])
Trip_df

,City_ID,City,Country,Description,Max Temp,Lat,Lng,Hotel Name
6,19,Tsihombe,CA,broken clouds,89.60,48.57,-78.12,"Amosphère, complexe hôtelier"
2,6,Matagami,CA,clear sky,86.00,49.75,-77.63,Hôtel Matagami
67,181,Chapais,CA,broken clouds,84.20,49.78,-74.85,Hôtel Opémiska
53,140,La Tuque,CA,overcast clouds,74.84,47.43,-72.78,Le Gite du Parc

In [53]:
# html for what goes in the descriptor box
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in Trip_df.iterrows()]

# Add a map of vacation spots and a pop-up marker for each city.
locations = Trip_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))