In [1]:
#import pandas for df management
import pandas as pd

# import numpy
import numpy as np

#import matplotlib for plotting funtionality
import matplotlib.pyplot as plt

# import citipy to get closest city from lat long
from citipy import citipy

# import the datetime module from the datetime library
from datetime import datetime

# Import the API key.
from config import weather_api_key

# Import the API key.
from config import google_api_key

# import gmaps for google mapping
import gmaps

# Import the requests library.
import requests

# import os for path join
import os

In [4]:
vacation_file_path = os.path.join("Data","WeatherPy_Vacation.csv")
vacation_data_df = pd.read_csv(vacation_file_path)
vacation_data_df.head()

,City_ID,City,Country,Description,Max Temp,Lat,Lng,Hotel Name
0,60,Kavieng,PG,light rain,82.20,-2.57,150.80,Nusa Island Retreat
1,62,Buala,SB,light rain,81.16,-8.14,159.59,Maringe Lagoon Lodge
2,86,Dayong,CN,light rain,84.20,25.02,118.29,Haiyue Express Hotel
3,111,Caninde,BR,light rain,76.39,-4.36,-39.31,Hotel Casa Grande II
4,113,Mana,GF,light rain,80.94,5.66,-53.78,LE SAMANA

The cities we will be tranveling to are: La Sarre, Pinawa, Lincoln, Batesville

In [19]:
#
La_Sarre_df = vacation_data_df.loc[(vacation_data_df["City"] == "La Sarre")]
La_Sarre = La_Sarre_df.to_numpy()

Pinawa_df = vacation_data_df.loc[(vacation_data_df["City"] == "Pinawa")]
Pinawa = Pinawa_df.to_numpy()

Lincoln_df = vacation_data_df.loc[(vacation_data_df["City"] == "Lincoln")]
Lincoln = Lincoln_df.to_numpy()

Batesville_df = vacation_data_df.loc[(vacation_data_df["City"] == "Batesville")]
Batesville = Batesville_df.to_numpy()